@font-face {
    font-family: 'museo_sans';
    src: url('museosans-300-webfont.woff2') format('woff2'),
         url('museosans-300-webfont.woff') format('woff'),
         url('museosans-300-webfont.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans';
    src: url('museosans_500-webfont.woff2') format('woff2'),
         url('museosans_500-webfont.woff') format('woff'),
         url('museosans_500-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans';
    src: url('museosans_700-webfont.woff2') format('woff2'),
         url('museosans_700-webfont.woff') format('woff'),
         url('museosans_700-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}